/* define some recurrent colors */
:root {
	--hover-select-color: #393a1e96;
}

/* define style of ids */
#world-map {
	/* background: #8a8a8a; */
	position: relative;
	z-index: 0;
	/* background: white; */
}

/* define style of classes */
.country {
	stroke: white;
	stroke-opacity: 0.25;
	stroke-width: 1.0;
}

.hovered {
	fill: var(--hover-select-color);
	/* fill: #393a1e96; */
	/* fill: white; */
	/* opacity: 0.5; */
}

.selected {
	fill: var(--hover-select-color);
	opacity: 0.5;
	/* fill: #393a1e96; */
}

.selected-country-circle {
	fill: blue;
}

.outflow-country {
	fill: red;
	opacity: 0.5;
}

.inflow-country {
	fill: green;
	opacity: 0.5;
}

.row.row-no-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.col-no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* PANEL */
.filter_button{
	position: absolute;
	right: 10px;
	top: 5px;
}

.filter_panel{
	position: absolute;
	z-index: 1;
	background-color: #00CCFF;
	height: 400px;
	width: 200px;
}

.countries_list {
	border:2px solid #ccc;
	width:200px;
	height: 300px;
	overflow-y: scroll;
